section {
  left: -80px;
}

section.stack.present {
  border: none;
}

section.present {
  background-color: rgba(218, 220, 214, 0.7);
  border-radius: 30px;
  border: 5px solid #c4c3c1;
}

section.present.inverted {
  background-color: rgba(64, 64, 64, 0.95);
  border-radius: 30px;
  color: white;
}

section.present.inverted h1,
section.present.inverted h2,
section.present.inverted h3,
section.present.inverted h4 {
  color: white;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal .slides>section,
.reveal .slides>section>section {
  padding: 40px;
}

.reveal.center,
.reveal.center .slides,
.reveal.center .slides section {
  min-height: 0 !important;
}

.reveal pre {
  font-size: 0.7em;
  padding: 0;
}

.reveal pre code {
  max-height: none;
  padding: 0;
}

li {
  line-height: 1.75em !important;
}
